@font-face {
	font-family: OpenSansCondensed;
	src: url(OpenSansCondensed-Light.ttf);
	font-weight: normal;
}


@font-face {
	font-family: OpenSansCondensed;
	src: url(OpenSansCondensed-Bold.ttf);
	font-weight: bold;
}


@font-face {
	font-family: OpenSansCondensed;
	src: url(OpenSansCondensed-LightItalic.ttf);
	font-style: italic;
}

body {
	font-family: OpenSansCondensed;
	background-color: black;
	color: white;
	font-size: 20px;
}

header {
	background-color: black;
	text-align: center;
	width: 100%;
	color: white;
}
div {
	margin:0;
	padding:0;
}


#myimage {
	margin-top: 1vw;
	border: 1vw solid white;
	width: 30vw;
	border-radius: 210px;
}

#mainheading {
	font-size: 4vw;
}

header div ul {
	text-align: center;
	list-style-type: none;
	font-size: 2vw;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

header div ul li {
	float: left;
	padding: 1vw 2vw;
	border: 1px solid black;
	border-radius: 40px;
	transition: all;
	transition-duration: 0.5s;
}
header div ul li:hover {
	background-color: white;
	color: black;
}

.NavBarBut {
	color: inherit;
	text-decoration: none;
}

#intro {
	text-align: justify;
	margin: 0px 8vw;

}
